body, h1, p {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 50px;
}

.menu-button {
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    background-color: transparent;
}
.menu_icon{
    height: 30px;
    width: 60px;
    
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    color: #fff;
    padding-top: 160px;
}


.first_layer{
    background-image: url(imgs/bg-new.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
}
.button_title{
    width: 170px;
    height: 40px;
}
.service{
    margin-left: 110px;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150vh;
    margin-bottom: 120px;
    
}



.card {
    width: 300px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    display: inline-block;
    margin-right: 20px;
   
    
}

.circular-img {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    margin: 20px auto;
    z-index: 1;

}

.img_service{
    z-index: 2;
    color:rgb(25, 110, 206) ;
}

.img_service{
    margin: 40px 40px;
    font-size: 12px;
}
.circular-img:hover{
    background-color:rgb(25, 110, 206) ;
    transition: 0.5s;
   

}
.img_service:hover{
    color: #fff;
    transition: 0.5s;
    
}

.image-grid {
    background-color: #e1e1e1;
    width: 200vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 850px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 250px;
    margin bottom: 200px;
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: filter 0.3s ease-in-out;
}

.image:hover img {
    filter: brightness(0.5);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.image:hover .image-overlay {
    opacity: 1;
}

.image-overlay p {
    text-align: center;
    padding: 10px;
}
.map-container {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	margin-bottom: 80px;
}

.map-container iframe {
    margin-top: 200px;
    margin-left: 300px;
	left: 0;
	top: 0;
	height: 50%;
	width: 50%;
	position: absolute;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.form-section {
    width: 60%;
    padding: 20px;
    background-color: transparent;
}

.form-control {
    width: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.message{
    height: 50px;
}

.btn-primary {
    width: 100%;
}
.info-section {
    width: 35%;
    padding: 20px;
    background-color: transparent;
    margin-bottom: 50px;
}